@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap");

body {
  padding: 2rem;
  margin: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

dt {
  font-weight: bold;
}
