html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 1em;

  font-size: calc(0.625rem + 1vmin);
}

div {
  position: absolute;
  width: 10em;
  height: 10em;
  padding: 0.2em;

  background-color: #666;
  color: white;
  text-align: center;
  line-height: 10em;
}

#first {
  top: 10%;
  background-color: hsla(327, 100%, 58%, 0.7);

  /* if the parent has overflow: hidden 
     children that overflow will be clipped
     or hiddent regardless of z-order
  */
  overflow: hidden;
}

/* the child is clipped due to parent
   having 'overflow: hidden'
*/
#child {
  width: 6em;
  height: 3em;
  left: -1em;
  bottom: -1em;
  line-height: 3em;

  z-index: -1;
}

#second {
  top: 15%;
  left: 25%;

  background-color: hsla(195, 75%, 46%, 0.7);
  box-shadow: 0em 0.2em 0.4em 0 hsl(195, 30%, 46%);
  z-index: 2;
}

#third {
  top: 37%;
  left: 10%;
  background-color: hsla(120, 33%, 50%, 0.8);
}
