/* -- Custom Properties and Resets -- */
:root {
  /* Element Background Colors used:
       lavenderblush, lavender, papayawhip, honeydew, alicblue
   */
  --clr-body: hsl(340, 100%, 97%);
  --clr-h1: hsl(240, 67%, 94%);
  --clr-html: hsl(37, 100%, 92%);
  --clr-para: hsl(120, 100%, 97%);
  --clr-div: aliceblue;

  /* Element outline colours */
  --out-body: hsl(340, 100%, 90%);
  --out-h1: hsl(240, 67%, 80%);
  --out-html: hsl(37, 98%, 61%);
  --out-para: hsl(120, 96%, 83%);

  /* Set the base font for all elements
     This becomes the new 'value' of 1 rem
     which was originally set by the user or 
     the 'user agent' (the browser)
   */
  font-size: calc(1rem + 0.5em);
}

html {
  /* min-height: 100%; */

  /* Reset the box-sizing */
  box-sizing: border-box;

  /* comment out the colour and the viewport will fill with the body
     element colour, W3 advises against setting HTML background colour
   */
  background-color: var(--clr-html);
  outline: 0.4em dashed var(--out-html);
}

/* Remove the browser margin and padding settings 
   from any and all elements
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* No need to set the width, the default 'auto'
     works fine.
   */
  min-height: 100vh;

  background-color: var(--clr-body);
  outline: 0.2em solid var(--out-body);
}

h1 {
  background-color: var(--clr-h1);
  outline: 0.1em dashed var(--out-h1);
}

p {
  padding: 1rem;

  background-color: var(--clr-para);
  outline: 0.2em dashed var(--out-para);
}

div {
  /* needs to have content or a an explicit width or some padding must be set 
     height and width cannot be set as %'s unless the parent has an explicit
     width or height i.e. min/max-height/widths are not enough
     if a % is used for padding, it will be a percentage of the parent's width
     even if it is not explicitly set
   */
  padding-top: 25%;
  background-color: var(--clr-div);
}
