/* -- Custom Properties -- */
:root {
  /* palette 
      ryb mode on https://www.sessions.edu/color-calculator/
   */
  --dark: hsl(0, 0%, 0%);
  --light: hsl(0, 0%, 100%);
  --b: hsl(187, 52%, 80%);
  --p: hsl(243, 52%, 80%);
  --g: hsl(127, 52%, 80%);
  --r: hsl(327, 70%, 67%);
  --y: hsl(47, 52%, 80%);
  --b-dk: hsl(187, 47%, 63%);

  --auto-grid-min-size: 5em;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- Utility classes -- */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 80em;
  max-width: 80%;
  padding: 0 2vmin;
  margin: 0 auto;
}

/* -- General Styling -- */
body {
  font-size: calc(0.75rem + 0.75vmin);
}

div {
  display: flex;
  width: 10em;
  height: 10em;
}

/* -- Shapes -- */
.circle {
  background-color: var(--p);
  clip-path: circle();
}

/* positioning moves the clip within
   it's own frame - change keywords
   and values to see various movements
   and sizing changes
 */
.circle2 {
  background-color: var(--g);
  clip-path: circle(at right 3em bottom 5em);
}

.circle3 {
  background-color: var(--r);
  clip-path: circle(at left 2em bottom 1em);
}

.ellipse {
  width: 5em;
  background-color: var(--b);
  clip-path: ellipse();
}

.inset-rectangle {
  background-color: var(--r);
  clip-path: inset(10em 10em 10em 10em round 2em);
}
